.page-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loginForm, .registerForm{
    width:20rem;
}
#navbarSupportedContent li.nav-item {
    display: inline-flex;
    align-items: center;
}